@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oleo+Script+Swash+Caps&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oleo+Script+Swash+Caps&family=Poppins:wght@100;400&family=Roboto&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-text: #0C0C0C;
    --purple:#5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --light-purple: #F2F0FF;
    --light-grey: #F3F6F9;
    --grey: #7A7A7A;
}
/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */